.container{
    display: grid;
    /* grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(2,100px); */
    grid-template: repeat(3,100px)/repeat(2,100px);
    border:3px solid lightgrey;
    justify-items: center;/*to center the div in each cell in grid  horizontal*/
    align-items: center;/*to center the div in each cell in grid  vertically*/
    justify-content: center; /*to center the grid in container  horizontal*/
    align-content: center;/*to center the grid in container  vertical*/
}

.box{
    display: flex;
    background: gold;
    width: 50%;
    height: 50%;
    justify-content: center;/*to center the content in each div in grid  horizontal*/
    align-items: center;/*to center the content in each div in grid  vertically*/
}