.container{
    box-sizing: border-box;
    width: unset;
    height: 100vh;
    display: grid;
    /* grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(2,100px); */
    grid-template: 100px 90fr 50px/30fr 70fr;
    border:3px solid lightgrey;
    grid-template-areas: 
        "header     header"
        "navigation main"
        "footer     footer";
    /* row-gap: 10px;
    column-gap: 10px; */
    gap: 10px;
    justify-items: stretch;/*to center the div in each cell in grid  horizontal*/
    align-items: stretch;/*to center the div in each cell in grid  vertically*/
    justify-content: center; /*to center the grid in container  horizontal*/
    align-content: center;/*to center the grid in container  vertical*/
}

.box{
    display: flex;
    background: gold;
    /* width: 50%;
    height: 50%; */
    justify-content: center;/*to center the content in each div in grid  horizontal*/
    align-items: center;/*to center the content in each div in grid  vertically*/
}

.header{
    /* grid-column: 1/ span 2; */
    grid-area: header;
}
.navigation{
    grid-area: navigation;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}
body{
    margin: 0;
}